<div>
  {% assign homepage = site.data.publications | where: "homepage", true %}
  {% for publication in homepage %}

  {% if publication.collection == "books" %}
  {% include publications/entry_book.html %}
  {% endif %}

  {% if publication.collection == "conferences" %}
  {% include publications/entry_conference.html %}
  {% endif %}

  {% if publication.collection == "chapters" %}
  {% include publications/entry_chapter.html %}
  {% endif %}

  {% if publication.collection == "journals" %}
  {% include publications/entry_journal.html %}
  {% endif %}

  {% endfor %}
</div>
