<p>
  {% if journal %}
    <b>{{ forloop.index }}. {{ journal.title }}</b>
    <br />
    <em>{{ journal.authors }}</em>
    <br />
    {{ journal.journal }}, {{ journal.edition }}
    <br />
    {% if.journal.text %}
      <a href="{{ journal.text }}" class="btn btn--small">Full Text</a>
    {% endif %}

    {% if.journal.preprint %}
      <a href="{{ journal.preprint }}" class="btn btn--danger btn--small">Preprint</a>
    {% endif %}

    {% if.journal.pdf %}
      <a href="{{ base_path }}/assets/pdfs/{{ journal.pdf }}" class="btn btn--primary btn--small">PDF</a>
    {% endif %}

    {% if.journal.code %}
      <a href="{{ journal.code }}" class="btn btn--info btn--small">Code</a>
    {% endif %}

    {% if.journal.url %}
      <a href="{{ journal.url }}" class="btn btn--info btn--small">Website</a>
    {% endif %}
  {% endif %}
</p>
