{% if journal %}
<tr>
    <td>{{ forloop.index }}.</td>
    <td>
        <b>{{ journal.title }}</b>
        <br />
        <em>{{ journal.authors }}</em>
        <br />
        {{ journal.journal }}, {{ journal.edition }}
        <br />

    </td>
    <td>
        {% if.journal.text %}
        <a href="{{ journal.text }}" class="btn btn--small" target="_blank">Full Text</a>
        {% endif %}
        {% if.journal.preprint %}
        <a href="{{ journal.preprint }}" class="btn btn--danger btn--small" target="_blank">Preprint</a>
        {% endif %}

        {% if.journal.pdf %}
        <a href="{{ base_path }}/assets/pdfs/{{ journal.pdf }}" class="btn btn--primary btn--small" target="_blank">PDF</a>
        {% endif %}

        {% if.journal.code %}
        <a href="{{ journal.code }}" class="btn btn--info btn--small" target="_blank">Code</a>
        {% endif %}

        {% if.journal.url %}
        <a href="{{ journal.url }}" class="btn btn--info btn--small" target="_blank">Website</a>
        {% endif %}
    </td>
</tr>
{% endif %}
