{% assign projects = site.data.projects | where: "status", "ongoing" %}

<ol>
    {% for project in projects %}
    <li>
        {{ project.funder }} <br />
        {{ project.time }} <br />
        <a href="{{ project.link }}" target="_blank" >{{ project.name }}</a>
    </li>
    {% endfor %}
</ol>

<h3>Completed</h3>
{% assign projects = site.data.projects | where: "status", "completed" %}

<ol>
    {% for project in projects %}
    <li>
        {{ project.funder }} <br />
        {{ project.time }} <br />
        <a href="{{ project.link }}" target="_blank" >{{ project.name }}</a>
    </li>
    {% endfor %}
</ol>
