// Body.
body {
  margin-bottom: 75px !important;
}
// Remove spacing between `li`.
li {
  p {
    margin-bottom: 0 !important;
  }
}

// Make text in tables bigger.
table {
  font-size: .9em !important;
}

// Page.
.page__row {
  .page__left {
    @include breakpoint($small) {
      @include span(12 of 12);
    }

    @include breakpoint($medium) {
      @include span(5.5 of 12);
    }
  }
  .page__right {
    @include breakpoint($small) {
      @include span(12 of 12);
    }

    @include breakpoint($medium) {
      @include span(5.5 of 12);
    }
  }
}

// Team page. Profiles split into image and text.
.profile {
  display: flex;

  .profile__picture {
    @include span(2.5 of 12);

    img {
      border-radius: 50%;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .profile__context {
    @include span(9 of 12 final);
    @include prefix(0.5 of 12);
  }
}

#publications {
  p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

#profile-header {
  margin-bottom: 30px;
}

// Footer.
.page__footer-copyright {
  display: flex;

  #footer-copyright {
    @include span(6 of 12);
  }

  #footer-logos {
    @include span(6 of 12);
    img {
      float: right;
      height: 75px;
      margin: 10px;
    }
  }
}
