<div id="publications">
    <h2 id="code">Code</h2>
    {% assign code = site.data.publications | where_exp: "item", "item.code" != "" %}

    {% for publication in code %}
        {% if publication.collection == "journals" %}
        <div class="code">
            <div class="code__picture">
                <img src="{{ base_path }}/assets/images/papers/{{ publication.img }}">
            </div>
            <div class="code__context">
                {% include publications/entry_journal.html %}
            </div>
        </div>
        {% endif %}

        {% if publication.collection == "conferences" %}
        <div class="code">
            <div class="code__picture">
                <img src="{{ base_path }}/assets/images/papers/{{ publication.img }}">
            </div>
            <div class="code__context">
                {% include publications/entry_conference.html %}
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <h2 id="platforms">Platforms</h2>
    {% assign platform = site.data.code | where: "type", "platform" %}

    {% for publication in platform %}
    {% include code/entry.html %}
    {% endfor %}

    <h2 id="datasets">Datasets</h2>
    {% assign datasets = site.data.code | where: "type", "dataset" %}

    {% for publication in datasets %}
    {% include code/entry.html %}
    {% endfor %}
</div>
